# Importing the required libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('data/owid-covid-latest.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               212 non-null    object
 1   continent                              203 non-null    object
 2   location                               212 non-null    object
 3   last_updated_date                      212 non-null    object
 4   total_cases                            199 non-null    float64
 5   new_cases                              199 non-null    float64
 6   new_cases_smoothed                     199 non-null    float64
 7   total_deaths                           190 non-null    float64
 8   new_deaths                             190 non-null    float64
 9   new_deaths_smoothed                    199 non-null    float64
 10  total_cases_per_million                198 non-null    float64
 11  new_cases_per_million                  198 non-null    float64
 12  new_cases_smoothed_per_million         198 non-null    float64
 13  total_deaths_per_million               189 non-null    float64
 14  new_deaths_per_million                 189 non-null    float64
 15  new_deaths_smoothed_per_million        198 non-null    float64
 16  reproduction_rate                      182 non-null    float64
 17  icu_patients                           22 non-null     float64
 18  icu_patients_per_million               22 non-null     float64
 19  hosp_patients                          28 non-null     float64
 20  hosp_patients_per_million              28 non-null     float64
 21  weekly_icu_admissions                  14 non-null     float64
 22  weekly_icu_admissions_per_million      14 non-null     float64
 23  weekly_hosp_admissions                 20 non-null     float64
 24  weekly_hosp_admissions_per_million     20 non-null     float64
 25  new_tests                              104 non-null    float64
 26  total_tests                            108 non-null    float64
 27  total_tests_per_thousand               108 non-null    float64
 28  new_tests_per_thousand                 104 non-null    float64
 29  new_tests_smoothed                     113 non-null    float64
 30  new_tests_smoothed_per_thousand        113 non-null    float64
 31  positive_rate                          111 non-null    float64
 32  tests_per_case                         111 non-null    float64
 33  tests_units                            115 non-null    object
 34  total_vaccinations                     166 non-null    float64
 35  people_vaccinated                      155 non-null    float64
 36  people_fully_vaccinated                107 non-null    float64
 37  new_vaccinations                       120 non-null    float64
 38  new_vaccinations_smoothed              164 non-null    float64
 39  total_vaccinations_per_hundred         166 non-null    float64
 40  people_vaccinated_per_hundred          155 non-null    float64
 41  people_fully_vaccinated_per_hundred    107 non-null    float64
 42  new_vaccinations_smoothed_per_million  164 non-null    float64
 43  stringency_index                       165 non-null    float64
 44  population                             210 non-null    float64
 45  population_density                     195 non-null    float64
 46  median_age                             184 non-null    float64
 47  aged_65_older                          182 non-null    float64
 48  aged_70_older                          183 non-null    float64
 49  gdp_per_capita                         187 non-null    float64
 50  extreme_poverty                        125 non-null    float64
 51  cardiovasc_death_rate                  187 non-null    float64
 52  diabetes_prevalence                    191 non-null    float64
 53  female_smokers                         143 non-null    float64
 54  male_smokers                           141 non-null    float64
 55  handwashing_facilities                 95 non-null     float64
 56  hospital_beds_per_thousand             167 non-null    float64
 57  life_expectancy                        200 non-null    float64
 58  human_development_index                186 non-null    float64
dtypes: float64(54), object(5)
memory usage: 97.8+ KB

In [4]:
df.head(10)

   iso_code      continent             location  ... hospital_beds_per_thousand  life_expectancy  human_development_index
0       AFG           Asia          Afghanistan  ...                       0.50            64.83                    0.511
1  OWID_AFR            NaN               Africa  ...                        NaN              NaN                      NaN
2       ALB         Europe              Albania  ...                       2.89            78.57                    0.795
3       DZA         Africa              Algeria  ...                       1.90            76.88                    0.748
4       AND         Europe              Andorra  ...                        NaN            83.73                    0.868
5       AGO         Africa               Angola  ...                        NaN            61.15                    0.581
6       AIA  North America             Anguilla  ...                        NaN            81.88                      NaN
7       ATG  North America  Antigua and Barbuda  ...                       3.80            77.02                    0.778
8       ARG  South America            Argentina  ...                       5.00            76.67                    0.845
9       ARM           Asia              Armenia  ...                       4.20            75.09                    0.776

[10 rows x 59 columns]